<ion-view view-title="Bars Near You">
  <ion-content>
    <div class="list card">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i> Enter home address
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i> Enter phone number
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i> Enter wireless password
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i> Enter card information
      </a>
    </div>
  </ion-content>
</ion-view>
