<ion-view view-title="Drinks @ {{bar.name}}">
  <ion-content>
    <div class="list card" ng-repeat="item in items">
      <div class="item">
        <span class="drink-name">
                {{item.name}}
            </span>
          <span class="item-cost">
            <i class="icon ion-social-usd">{{item.currentPrice}}</i>
          </span>

          <div ng-if="item.incState == 0 " class="percent-change green">
            <div><i class="icon ion-arrow-down-b"></i></div>
            <div>({{item.rateChange | percentage:2}})</div>
          </div>

          <div ng-if="item.incState < 0 " class="percent-change green">
            <div><i class="icon ion-arrow-down-b"></i></div>
            <div>({{item.rateChange | percentage:2}})</div>
          </div>

          <div ng-if="item.incState > 0 " class="percent-change red">
            <div><i class="icon ion-arrow-up-b"></i></div>
            <div>({{item.rateChange | percentage:2}})</div>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
