<ion-view  view-title="Drinks @{{bar.name}}">
    <ion-content>
    <div class="list card" ng-repeat="item in bar.menu">
        <div class="item item-icon-right item-icon-right">
            <span class="drink-name">
                {{item.drink}}
                <span ng-if="item.change == 0 " class="percent-change black">({{item.change | percentage:2}})</span>
                <span ng-if="item.change < 0 " class="percent-change green">({{item.change | percentage:2}})</span>
                <span ng-if="item.change > 0 " class="percent-change red">({{item.change | percentage:2}})</span>
            </span>
            <i class="icon ion-social-usd">{{item.cost}}</i>
        </div>
        
    </div>
    </ion-content>
</ion-view>