<ion-view  view-title="Welcome to BarTicker">
  <ion-content>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Choose a bar...
        </div>
        <select ng-model="selectedBar" ng-options="bar.name for bar in allBars" ng-change="barSelected(selectedBar.$id)">
        </select>
      </label>

      <div ng-if="busIdSet == true" class="card">
        <div class="item item-divider header">
            {{selectedBar.name}}
          </div>
          <div class="item item-text-wrap">
            <!--<span class="label">Price per drink:</span>
            <span class="value">Price</span><br/><br/>
            <span class="label">Total revenue:</span>
            <span class="value">Revenue</span>-->
              <label class="item item-input"></label>

                <span class="input-label"># customers</span>
                <button class=" button button-icon ion-minus-round" ng-click="subtractCustomers(selectedBar.$id)"></button>
                <input class="center" type="text" maxlength="5" disabled="disabled" value="{{selectedBar.noOfPeople}}">
                <button class=" button button-icon ion-plus-round" ng-click="addCustomers(selectedBar.$id)"></button>

          </div>
         <!-- <div class="item item-divider">
            I'm a Footer in a Card!
          </div>-->
      </div>

        <div ng-if="busIdSet == true" class="card">
          <div class="item item-text-wrap">

              <div class="list">
              <label class="item item-input item-select">
                <div class="input-label">
                  Choose a drink...
                </div>
                <select ng-model="selectedItem" ng-options="item.name for item in items" ng-change="itemSelected(selectedItem.$id)">
                </select>
              </label>
            </div>
              <button ng-if="itemIdSet == true" class="button button-dark" ng-click="addTransaction(selectedItem.$id)">New transaction</button>
          </div>
      </div>


    </div>
  </ion-content>
</ion-view>
