/* Empty. Add your own CSS if you like */

i.icon.ion-arrow-graph-up-right,
i.icon.ion-arrow-graph-down-right,
i.icon.ion-chevron-right,
i.icon.ion-plus
{
    font-size: 1.2em;
}

i.icon.ion-social-usd{
    font-size: 1em;
}

i.icon.ion-arrow-graph-up-right, .red{
    color:red;
}

i.icon.ion-arrow-graph-down-right, .green/*, i.icon.ion-social-usd*/{
    color:green;
}

i.icon.ion-chevron-right{
    color:lightgray;
}

.bar-name{
    letter-spacing: .8px;
    font-size: 1.2em;
}

.drink-name{
    letter-spacing: .7px;
    font-size: 1.1em;
}

.percent-change{
    font-size: .85em;
    float: right;
    margin-right: 5px;
}

.black{
   color: black; 
}

.header{
    text-align: center;
}

.left{
    float: left;
}